@import "variables-custom.less";

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro.eot');
  src: url('../fonts/MyriadPro.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/MyriadPro.woff2') format('woff2'), url('../fonts/MyriadPro.woff') format('woff'), url('../fonts/MyriadPro.ttf') format('truetype'), url('../fonts/MyriadPro.svg#MyriadPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

.top-header {
  background-color: #e8e8e8;
}
.module-logo {
  margin: 10px 0;
  .input-prepend  {
    input{
      border-radius: 4px 0px 0px 4px;
      height: 35px;
      width: 430px;
    }
    .add-on{
      background-color: @green;
      color: @white;
      margin-left: -1px;
      border-radius: 0px 4px 4px 0px;
      height: 35px;
      min-width: 35px;
      line-height: 35px;
    }
  }
  .note {
    color: #ff6801;
    font-weight: bold;
    font-size: 20px;
  }
  .search {
    text-align: right;
    margin-top: 15px;
  }
}
ul.menutop-menu.nav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8e8e8;
  li {
    float: none;
    display: inline-block;
    border-right: 1px solid #fff;
    background-color: #d8d8d8;
    a {
      display: block;
      color: #b98966;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: @baseFontFamily;
      &.fa:before {
        font-family: FontAwesome;
      }
    }
    a:hover {
      background-color: #d8d8d8;
      color: #66574c;
      font-weight: bold;
    }
  }
}
.menu-header {
  background-color: @green;
  .navbar
  {
    margin-bottom: 0px;
    .navbar-inner {
      background-color: @green;
      box-shadow: none;
      border: none;
      .nav {
        >li {
          >a {
            color: @white;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-shadow: none;
            font-weight: bold;

          }
          >a:hover {
            color: @black;
          }
        }
        &>.active {
            >a {
              background-color: transparent;
              box-shadow: none;
              color: @black;
              letter-spacing: 1px;
              text-transform: uppercase;
              text-shadow: none;
            }
        }
      }
    }
  }
}
.module-homepage-1 {
  h3 {
    font-family: MyriadPro;
    color: @brown;
    font-family: 40px;
    text-align: center;
  }
  .content {
    color: @brown;
    text-align: center;
    margin: 0 20px;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .block-content {
    .span6 {
      background-color: @green;
      color: @white;
      font-style: italic;
      p {
        margin: 10px;
      }
    }
  }
}
#footer {
  background-color: @gray;
  text-align: center;
  padding: 20px 0;
  img {
    widtH: 200px
  }
  .address {
    color: @grayLight;
  }
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      float: none;
      display: inline-block;
      border-right: 1px solid @grayLight;
      a {
        display: block;
        color: @white;
        text-align: center;
        font-family: @baseFontFamily;
        margin: 0 5px;
      }
      a:hover {
        background-color: #d8d8d8;
        color: #66574c;
        font-weight: bold;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .social {
    font-size: 35px;
    margin-top: 10px;
    a {
      visibility: hidden;
      color: @white;
      &.fa:before {
        visibility: initial;
      }
      &:hover {
        color: @white;
      }
    }
  }
}

.homepage-grid-2 {
  background-color: #ead9c0;
  padding: 40px 0;
}

.homepage-grid-1 {
  background-color: #e8e8e8;
  padding: 40px 0;
}

.mod_iconsliders {
  background-color: #ead9c0;
  .content {
      color: #55282c;
      text-align: center;
      margin: 0 20px;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 40px;
  }
  .owl-item
  {
    text-align: center;
    margin: 0 auto;
    .item {
      img {
        width: 100px;
        text-align: center;
        margin: 0 auto;
      }
      p {
        margin-top: 10px;
        font-size: 25px;
        font-weight: bold;
        color: @brown;
      }
    }
  }
}