@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro.eot');
  src: url('../fonts/MyriadPro.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/MyriadPro.woff2') format('woff2'), url('../fonts/MyriadPro.woff') format('woff'), url('../fonts/MyriadPro.ttf') format('truetype'), url('../fonts/MyriadPro.svg#MyriadPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
.top-header {
  background-color: #e8e8e8;
}
.module-logo {
  margin: 10px 0;
}
.module-logo .input-prepend input {
  border-radius: 4px 0px 0px 4px;
  height: 35px;
  width: 430px;
}
.module-logo .input-prepend .add-on {
  background-color: #46a546;
  color: #fff;
  margin-left: -1px;
  border-radius: 0px 4px 4px 0px;
  height: 35px;
  min-width: 35px;
  line-height: 31px;
}
.module-logo .note {
  color: #ff6801;
  font-weight: bold;
  font-size: 20px;
}
.module-logo .search {
  text-align: right;
  margin-top: 15px;
}
ul.menutop-menu.nav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8e8e8;
}
ul.menutop-menu.nav li {
  float: none;
  display: inline-block;
  border-right: 1px solid #fff;
  background-color: #d8d8d8;
}
ul.menutop-menu.nav li a {
  display: block;
  color: #b98966;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
ul.menutop-menu.nav li a.fa:before {
  font-family: FontAwesome;
}
ul.menutop-menu.nav li a:hover {
  background-color: #d8d8d8;
  color: #66574c;
  font-weight: bold;
}
.menu-header {
  background-color: #3ce2d4;
}
.menu-header .navbar {
  margin-bottom: 0px;
}
.menu-header .navbar .navbar-inner {
  background-color: #3ce2d4;
  box-shadow: none;
  border: none;
}
.menu-header .navbar .navbar-inner .nav > li > a {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bold;
}
.menu-header .navbar .navbar-inner .nav > li > a:hover {
  color: #000;
}
.menu-header .navbar .navbar-inner .nav > .active > a {
  background-color: transparent;
  box-shadow: none;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
}
.tp-bannershadow.tp-shadow2 {
  display: none;
}
.module-homepage-1 h3 {
  font-family: 'Open Sans', sans-serif;
  color: #f36809;
  font-size: 40px;
  text-align: center;
  font-weight: 100;
}
.module-homepage-1 .content {
  color: #55282c;
  text-align: center;
  margin: 0px auto;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 40px;
}
.module-homepage-1 .block-content .span6 {
  color: #fff;
}
.module-homepage-1 .block-content .span6 p {
  margin: 10px;
}
.module-homepage-1 .block-content .auteur {
  display: block;
  text-align: right;
  margin-top: 0px;
  padding-top: 0px;
}
.module-homepage-1 .block-content .trec_b1 {
  position: absolute;
  width: 140px;
  right: 90px;
}
.module-homepage-1 .block-content .trec_b2 {
  position: absolute;
  width: 140px;
  left: 90px;
}
.module-homepage-1 .block-content .bulle_1_home,
.module-homepage-1 .block-content .bulle_2_home {
  padding: 25px 50px;
  background: #3ce2d4;
  color: #fff;
  border-radius: 50px;
  text-align: left;
  font-size: 15px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0px 120px 0px 20px;
}
.module-homepage-1 .zone_champs_home {
  background: #fff;
  text-align: left;
  padding: 20px;
  margin: 50px 0px 20px 0px;
}
.module-homepage-1 .zone_champs_home .title {
  font-size: 17px;
  margin-bottom: 15px;
}
.module-homepage-1 .zone_champs_home .form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 11px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #38373a;
  border-radius: 10px;
  box-shadow: none;
}
.module-homepage-1 .zone_champs_home .champ_home {
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  color: #000;
  font-style: normal;
  font-size: 14px;
}
.module-homepage-1 .zone_champs_home .center .btn_champ_home {
  font-size: 15px;
  color: #ccc;
}
.module-homepage-1 .zone_champs_home .btn_champ_home {
  font-size: 60px;
  color: #dcdcdc;
  line-height: 55px;
  text-align: center;
  display: block;
}
.module-homepage-1 .zone_champs_home .btn_champ_home:hover {
  color: #23527c;
}
.hr2 {
  display: block;
  width: 50px;
  height: 5px;
  margin: 30px auto;
  background: #808080;
  border-radius: 5px;
}
.menu-header .navbar .navbar-inner .right-menu {
  float: right;
  margin-right: -15px;
}
.menu-header .navbar .navbar-inner .right-menu > li > a {
  color: #fff;
  text-transform: uppercase;
  background: #fff;
  color: #f36809;
  padding: 7px 10px;
  border-radius: 6px;
  margin-top: 7px;
  margin-left: 10px;
  text-transform: none!important;
}
.menu-header .navbar .navbar-inner .right-menu > li > a:hover,
.menu-header .navbar .navbar-inner .right-menu > li > a:focus {
  color: #fff;
  background: #f36809;
}
#footer {
  background-color: #676767;
  background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
  text-align: center;
  padding: 60px 0px;
}
#footer img {
  widtH: 200px;
}
#footer .address {
  color: #a5a5a5;
}
#footer .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#footer .nav li {
  line-height: 0px;
  float: none;
  display: inline-block;
  border-right: 1px solid #a5a5a5;
}
#footer .nav li a {
  font-size: 12px;
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0 5px;
  padding: 10px 0px;
}
#footer .nav li a:hover,
#footer .nav li a:focus {
  background: none!important;
  color: #fff;
}
#footer .nav li:last-child {
  border-right: none;
}
#footer .social {
  font-size: 35px;
  margin-top: 10px;
}
#footer .social a {
  visibility: hidden;
  color: #fff;
}
#footer .social a.fa:before {
  visibility: initial;
}
#footer .social a:hover {
  color: #fff;
}
.homepage-grid-2 {
  background-color: #ead9c0;
  padding: 40px 0;
  padding: 60px 0px 75px 0px;
  text-align: center;
  background-image: url(../images/home_bibli.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 80;
}
.homepage-grid-1 {
  background-color: #e8e8e8;
  padding: 40px 0;
}
.mod_iconsliders .content {
  color: #55282c;
  text-align: center;
  margin: 0 20px;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 40px;
}
.mod_iconsliders .owl-item {
  position: relative;
  text-align: center;
  margin: 0 auto;
  height: 200px;
}
.mod_iconsliders .owl-item .item {
  border-radius: 100%;
  background: rgba(60, 226, 212, 0.8);
  width: 140px;
  margin: 0px auto;
  height: 140px;
  line-height: 140px;
}
.mod_iconsliders .owl-item .item img {
  widtH: auto;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
.mod_iconsliders .owl-item .item p {
  position: absolute;
  bottom: 0px;
  width: 100%;
  line-height: 18px;
  margin-top: 10px;
  font-size: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #f36809;
}
